<h1>Provider Information</h1>

<%= @provider.name %>
<%= @provider.phone %>
<%= @provider.location %>

<%= link_to 'Edit Provider Details', edit_provider_path(@provider) %>
<%= link_to 'List of Providers', providers_path %>