<%= form_for @prescription do |f|%>

    <%= render partial: 'layouts/error', locals: {object: @prescription} %>

    <%= f.label :medication_id%>
    <%= f.text_field :medication_id%>

    <%= f.label :provider_id%>
    <%= f.text_field :provider_id%>

    <%= f.label :prescribed_date%>
    <%= f.text_field :prescribed_date%>

<h3>Prescription Provider</h3>
<%= f.fields_for @provider do |pres|%>

    <%= pres.label :name%>
    <%= pres.text_field :name %>

    <%= pres.label :phone %>
    <%= pres.text_field :phone %>

    <%= pres.label :location%>
    <%= pres.text_area :location %>
    <% end %>
    
    <%= f.submit%>

<% end %>