<h1>Your Prescription List</h1>

<%= @prescription.medication_id %>

<%= @prescription.provider.name %>

<%= @prescription.prescribed_date %>

<%= link_to 'Edit Prescription', edit_prescription_path(@prescription) %>

<%= link_to 'List of Prescriptions', prescriptions_path %>

<%= button_to 'Delete Prescription', @prescription, method: :delete, data: { confirm: "Do you wish to delete this prescription?" } %>

